# files generated during make
/obj/
# Copied executables
/char-server
/ladmin
/login-server
/map-server
/eathena-monitor
# Generated source files
src/map/magic-interpreter-parser.h
src/map/magic-interpreter-parser.c
src/map/magic-interpreter-lexer.c

