# files generated during make
/obj/
# Copied executables
/char-server
/ladmin
/login-server
/map-server
/eathena-monitor
# Generated source files
/src/map/magic-interpreter-parser.hpp
/src/map/magic-interpreter-parser.cpp
/src/map/magic-interpreter-lexer.cpp
# generated header dependencies
/deps.make
# tags file
/tags
