stages:
  - build
  - test
  - publish

variables: &base_vars
  DEBIAN_COMMON_PACKAGES: make git gcc g++
  GIT_DEPTH: 0 # avoid shallow clone since version is based on latest tag
  GIT_SUBMODULE_STRATEGY: normal

.prerequisites: &prerequisites
  before_script:
    - uname -a
    - apt-get update
    - apt-get install -y -qq $INSTALL_PACKAGES $DEBIAN_COMMON_PACKAGES
  parallel:
    matrix:
      - UBUNTU_TAG: "18.04"
      - UBUNTU_TAG: "22.04"
      - UBUNTU_TAG: "24.04"

# Build matrix across supported Ubuntu versions
ubuntu:build:
  <<: *prerequisites
  stage: build
  image: "ubuntu:${UBUNTU_TAG}"
  variables:
    <<: *base_vars
    INSTALL_PACKAGES: python3 cmake
  script:
    - git fetch -t
    - printf "Building TMW Athena version %s on ubuntu:%s\n" "$(git describe --tags HEAD)" "${UBUNTU_TAG}"
    - mkdir -p build/${UBUNTU_TAG}
    - cd build/${UBUNTU_TAG}
    - cmake -DCMAKE_INSTALL_PREFIX=$HOME/.local -DTMWA_BUILD_TESTS=ON ../..
    - make -j"$(nproc)"
    - whoami
    - make install
  artifacts:
    expire_in: 30 mins
    paths:
      - build/${UBUNTU_TAG}/

# Test matrix across supported Ubuntu versions
ubuntu:test:
  <<: *prerequisites
  stage: test
  image: "ubuntu:${UBUNTU_TAG}"
  needs:
    - job: ubuntu:build
      artifacts: true
  variables:
    <<: *base_vars
    INSTALL_PACKAGES: python3 gdb cmake
  script:
    - printf "Testing TMW Athena version %s on ubuntu:%s\n" "$(git describe --tags HEAD)" "${UBUNTU_TAG}"
    - cd build/${UBUNTU_TAG}
    - ctest --output-on-failure

# Build Docker image for testing
docker:build:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - /kaniko/executor --no-push --context "$CI_PROJECT_DIR" --dockerfile "$CI_PROJECT_DIR/Dockerfile" --tarPath tmwa-server.tar
  artifacts:
    name: "tmwa-server-$CI_COMMIT_SHORT_SHA"
    expire_in: 1 week
    paths:
      - tmwa-server.tar

# Push Docker image to registry
docker:push:
  stage: publish
  needs: ["docker:build"]
  image:
    name: quay.io/skopeo/stable
    entrypoint: [""]
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    - if: '$DOCKER_HUB_TOKEN && $DOCKER_HUB_USERNAME && $CI_COMMIT_REF_PROTECTED == "true"'
      when: on_success
    - when: never
  script:
    - export DOCKER_HUB_IMAGE="${DOCKER_HUB_IMAGE:-docker.io/${DOCKER_HUB_USERNAME}/${CI_PROJECT_NAME}}"
    - export IMAGE_TAG="${CI_COMMIT_TAG:-${CI_COMMIT_SHORT_SHA}}"
    - skopeo copy --insecure-policy --dest-creds "${DOCKER_HUB_USERNAME}:${DOCKER_HUB_TOKEN}" docker-archive:tmwa-server.tar "docker://${DOCKER_HUB_IMAGE}:${IMAGE_TAG}"
    - if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ] && [ -z "$CI_COMMIT_TAG" ]; then skopeo copy --insecure-policy --dest-creds "${DOCKER_HUB_USERNAME}:${DOCKER_HUB_TOKEN}" docker-archive:tmwa-server.tar "docker://${DOCKER_HUB_IMAGE}:latest"; fi
